/target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.iws

*.log
*.tmp
*.temp

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

hs_err_pid*
replay_pid*